{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastre-se</title>
        <link rel="stylesheet" href="{% static 'css/telaCadastro.css' %}">
        <!--<script src="{% static 'js/telaCadastro.js' %}"></script>-->
</head>
<body>
    <div id="preloader">
        <img src="{% static 'images/logoMeta.png' %}" alt="Carregando..." class="preloader-logo">
    </div>

    
    <form id="form-cadastro">
        <h1>Criar Cadastro</h1>
        <div class="tipoConta-container">
            <label>Tipo de Conta:</label>
            <div class="tipoConta-buttons">
                <button type="button" id="btnAgronomo" class="tipo-btn">Agrônomo</button>
                <button type="button" id="btnProdutor" class="tipo-btn">Produtor</button>
            </div>
            <input type="hidden" id="tipoConta" name="tipoConta">
        </div>

        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required placeholder="Digite seu nome completo">

        <label for="sobrenome">Sobrenome:</label>
        <input type="text" id="sobrenome" name="sobrenome" required placeholder="Digite seu sobrenome">

        <label for="dataNascimento">Data de Nascimento:</label>
        <input type="date" id="dataNascimento" name="dataNascimento" required>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" required placeholder="000.000.000-00" maxlength="14">

        <label for="telefone">Telefone:</label>
        <input type="tel" id="telefone" name="telefone" placeholder="(00) 00000-0000">

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required placeholder="E-mail">

        <div id="campoCREA" style="display: none;">
            <label for="num_crea">CREA:</label>
            <input type="text" id="num_crea" name="num_crea" placeholder="CREA">
        </div>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required placeholder="Senha">
        <span class="txtOrientacaoSenha">A senha deve conter no mínimo 8 dígitos, letras maiúsculas e minúsculas, números e caracteres especiais ( !, @, #, $, % )</span>

        <label for="confirmarSenha">Confirmar Senha:</label>
        <input type="password" id="confirmarSenha" name="confirmarSenha" required placeholder="Confirme sua senha">
        <span class="confirmarSenha">As senhas devem ser iguais para prosseguir!</span>

        <button type="submit" id="btnAvancar">Avançar</button>
    </form>

</body>
</html>